.tapa img{
	width: 100%;
}

.lamina img{
	width: 100%;
}

figcaption{
	margin-bottom: 10px;
}

#tapaFigCaption{
	margin-top: 10px;
}

.playAll{
	margin:0px auto 15px auto;
}

.album > audio { width: 100% }
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .album {
           overflow: hidden;width: 390px; 
    }

    .album > audio { 
      width: 420px; 
    }
}

@media(max-width: 375px){
	.playAll{
		margin-top: 10px;
	}
}