.image{
	margin:0px auto;
}

.image img{
	width: auto;
	max-width: 100%;
	overflow: hidden;
}
@media(min-width: 768px){
	.image{
		height: 380px;
	}
	.image img{
		max-height: 90%;
	}
	.image figcaption{
		max-height: 10%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media(min-width: 1200px){
	.btn-toolbar{
		margin:0px auto;
		width:938px;
	}
}

.img{
	position: relative;
}

.loading{
	position: absolute;
	background: rgba(0,0,0,0.7);
}