.jumbotron{
	border-bottom: 5px rgb(218,157,56) solid;
}

#info{
	padding: 0px 15px;
}

#info h3{
	border-bottom: 1px rgb(218,157,56) solid;
}

.panel{
	overflow: hidden;
	padding: 0px;
}

.panel img{
	height: 260px;
	width: 100%;
}

#president{
	padding: 0px;
	padding-bottom: 10px;
}

#president img{
	max-width: 1643px;
	width: 100%;
}

#jumbBrand h1{
	font-size: 36px;
}

#jumbBrand h2{
	font-size: 24px;
}

@media(min-width: 768px){
	.vertical-align{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	#jumbBrand h1{
		font-size: 40px;
	}

	#jumbBrand h2{
		font-size: 22px;
	}
}
@media(min-width: 992px){
	#jumbBrand h1{
		font-size: 63px;
	}

	#jumbBrand h2{
		font-size: 30px;
	}
}