/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

.white-text{
	color:white;
}

.brown-text{
	color:#895b20;
}

html{
	height: 100%
}

body{
	background:#310900;
	min-height: 100%
}

#main{
	background: #ffffff;
	margin-bottom: -80px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 659px;
}

.navbar{
	background: url('../img/fondo.jpg') no-repeat center;
	margin:0px;
	border:0px;
}

.navbar-default .navbar-nav>li>a{
	color:white;
}


#buscarArt{
	margin-top: 58px;
}

#buscarArt input{
	width: 100%;
}

p{
	margin: 0;
}

@media (min-width: 320px){
	.sadaic-col #sadaic img{
		height:25px; 
		width:60px;
		margin-top:15px;
		float:right;
	}

	.logo-col #logo img{
		height:25px; 
		width:60px;
		margin-top:15px;
		float:left;
	}

	#radio-container {
		width: 100%;
		margin: 10px;
	}

}

@media (min-width: 768px){
	.logo-col #logo img{
		height: 120px;
		width: 300px;
	}

	.sadaic-col #sadaic img{
		height: 120px;
		width: 300px;

	}
	#footer {
		font-size: 11px;
	}

	.navbar-header{
		padding: 0px 15px;
		width: 100%;
	}
	.nav{
		width: 100%;
	}
	.nav>li>a{
		font-size: 12px;
		padding:7px 0px;


	}
	.seven-cols .seven{
		width: 10%;
		*width: 10%;
	}
	
	.institucional{
		width:63px;
		height: 54px;
		margin-left:3px;
	}
	#buscar{
		margin-top: 10px;
	}
}



@media (min-width: 1024px){
	.nav>li>a{
		font-size: 14px;
	}

	#buscarArt input{
		width: 125%;
	}
	#buscarArt{
		margin-bottom: 20px;
	}

	#buscar {
		margin-top: 0px;
	}

	.sadaic-col #sadaic img{
		width: 420px;
		height: 120px;


	}

	.logo-col #logo img{
		width:420px;
		height: 120px;
	}
	#footer {
		font-size: 14px;
	}
}

@media (min-width: 1200px){
	#buscarArt input{
		width: 170%;
	}
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{
	background: rgb(218,157,56);
}

#footer{
	margin: 0px 15px;
	background: rgb(100,49,18);
	height: 80px;
}

address{
	margin-bottom: 0px;
}

.footer .separator{
	height: 60px;
	border-left: 1px #fff solid;
}

.lateral{
	-webkit-filter: sepia(100%) blur(1px); /* Chrome, Safari, Opera */
	filter: sepia(100%) blur(1px);
	max-height: 200px;
	max-width: 150px;
	position: absolute;
}

.lateral-left{
	left:-135px;
}

.lateral-right{
	left:1155px;
}

.lateral-active{
	opacity: 1;
	animation-name: example;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.lateral-delay{
	opacity: 0;
	animation-name: example1;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

body>.container{
	position: relative;
}

#radio {
	margin-top: 10px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#logo-radio {
	max-width: 100%;
	height: 10vmax;
}

#logo-radio-container {
	width: 100%;
	margin-bottom: 10px;
}

.text-center {
	text-align: center;
}