.tracksCaption{
    padding-left: 20px;
    margin-bottom: 5px;

}

.tracksContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.track{
    width: 33%;
    flex-grow: 0;
}

audio {
    margin-bottom: 5px;
}

.collapse-content{
    display: none;
}

.collapsible{
    margin-bottom: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .track {
           overflow: hidden;width: 33%; 
    }
}

@media (max-width: 425px) {
    .track {
        width: calc(100% - 40px);
        flex-grow: 0;
        margin-right: 10px;
        margin-left: 10px;
        left: 0;
        right: 0;
    }

    audio {
        width: 100%;
    }
}