figure > a > img {
    width: 15vmax;
    height: 15vmax;
    margin: 0 auto;
    display: block;
}

#hidden_figure {
    display: none;
    width: 15vmax;
    height: 15vmax;
    margin: 0 auto;
}

#title {
    margin-bottom: 20px;
}