{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Fundaci&oacute;n memoria del Chamam&eacute;{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'web/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'web/css/normalize.min.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css.map' %}">
        <link rel="stylesheet" href="{% static 'web/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/bootstrap-theme.min.css.map' %}">
        <link rel="stylesheet" href="{% static 'web/css/main.css' %}">
        <script src="{% static 'web/js/vendor/modernizr-2.8.3.min.js' %}"></script>
        {% block headPlus %}{% endblock headPlus %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container outside">
            <div class="container main">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <a href="{% url 'index' %}" class="navbar-brand col-xs-4" id="logo"><img src="{% static 'web/img/logo.png' %}" alt=""></a>
                        <a href="http://www.sadaic.org.ar/" target="_blank" class="navbar-brand col-xs-4 col-xs-offset-8" id="sadaic"><img src="{% static 'web/img/sadaic.jpg' %}" alt=""></a>
                    </div>
            		<div class="navbar-collapse">
            			<ul class="nav navbar-nav">
            				<li class="{% block activeHome %}{% endblock activeHome %}">
            					<div class="dropdown">
									<div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Inicio<span class="caret"></span></div>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
										<li><a href="{% url 'quienesSomos' %}">¿Quienes somos?</a></li>
										
										<li><a href="{% url 'objetivos' %}">Objetivos</a></li>
									</ul>
								</div>
            				</li>
                            <li class="{% block activeDisc %}{% endblock activeDisc %}">
                                <a href="#">Discoteca</a>
                            </li>
                            <li class="{% block activeBen %}{% endblock activeBen %}">
                                <a href="#">Benefactores</a>
                            </li>
            				<li class="{% block activeAct %}{% endblock activeAct %}">
            					<a href="#">Actividades</a>
            				</li>
            				<li class="{% block activeArt %}{% endblock activeArt %}">
            					<a href="{% url 'biografias' %}">Artistas</a>
            				</li>
                            <li class="{% block activeEfe %}{% endblock activeEfe %}">
                                <a href="{% url 'efemerides' %}">Efem&eacute;rides</a>
                            </li>
            				<li class="{% block activeCont %}{% endblock activeCont %}">
            					<a href="{% url 'contacto' %}">Contacto</a>
            				</li>
            			</ul>
               		</div>
                </nav>

				{% block content %}{% endblock content %}

				<div class="footer">
					<div class="col-xs-4 separator"></div>
					<div class="col-xs-4 separator"></div>
					<div class="col-xs-4"></div>
				</div>

            </div>
        </div>
		<script src="{% static 'web/js/vendor/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'web/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'web/js/main.js' %}"></script>
    </body>
</html>
