{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% block title %}Fundaci&oacute;n memoria del Chamam&eacute;{% endblock title %}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="{% static 'web/favicon.ico' %}">
		<link rel="stylesheet" href="{% static 'web/css/normalize.min.css' %}">
		<link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css.map' %}">
		<link rel="stylesheet" href="{% static 'web/css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" href="{% static 'web/css/bootstrap-theme.min.css.map' %}">
		<link rel="stylesheet" href="{% static 'web/css/main.css' %}">
		<script src="{% static 'web/js/vendor/modernizr-2.8.3.min.js' %}"></script>
		{% block headPlus %}{% endblock headPlus %}
	</head>
	<body>
		{% include "web/socialNetwork.html" %}
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div class="container">
			<div id="main">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
					<div class="navbar-header">
						<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
							<span class="sr-only">Navegar</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="{% url 'index' %}" class="pull-left" id="logo"><img src="{% static 'web/img/logo.png' %}" alt=""></a>
						<a href="http://www.sadaic.org.ar/" target="_blank" class="pull-right hidden-xs" id="sadaic"><img src="{% static 'web/img/sadaic.jpg' %}" alt=""></a>
					</div>
					<div class="collapse navbar-collapse" id="navbar-collapse">
						<ul class="nav navbar-nav seven-cols">
							<li class="{% block activeHome %}{% endblock activeHome %} dropdown seven text-center">
								<a href="#" class="white-text dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inicio <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="{% url 'quienesSomos' %}">¿Quienes somos?</a></li>
										<li><a href="{% url 'objetivos' %}">Objetivos</a></li>
									</ul>
							</li>
							<li class="{% block activeDisc %}{% endblock activeDisc %} seven text-center">
								<a href="#">Discoteca</a>
							</li>
							<li class="{% block activeMat %}{% endblock activeMat %} seven text-center">
								<a href="#">Material</a>
							</li>
							<li class="{% block activeIma %}{% endblock activeIma %} seven text-center">
								<a href="#">Imagenes</a>
							</li>
							<li class="{% block activeBen %}{% endblock activeBen %} seven text-center">
								<a href="#">Benefactores</a>
							</li>
							<li class="{% block activeAct %}{% endblock activeAct %} seven text-center">
								<a href="#">Actividades</a>
							</li>
							<li class="{% block activeArt %}{% endblock activeArt %} seven text-center">
								<a href="{% url 'biografias' %}">Artistas</a>
							</li>
							<li class="{% block activeEfe %}{% endblock activeEfe %} seven text-center">
								<a href="{% url 'efemerides' %}">Efem&eacute;rides</a>
							</li>
							<li class="{% block activeCont %}{% endblock activeCont %} seven text-center">
								<a href="{% url 'contacto' %}">Contacto</a>
							</li>
						</ul>
					</div>
				</nav>

				{% block content %}{% endblock content %}

			</div>
			<div id='footer'>
				<div class="footer">
					<div class="col-xs-12 col-sm-4 white-text">
						<address>
							<strong>Cont&aacute;ctenos</strong><br>
							Direcci&oacute;n: Los calchaquies 4008<br>
							<abbr title="Tel&eacute;fono">Tel:</abbr> +54(03794)-15447815
						</address>
					</div>
					<div class="col-sm-4 hidden-xs separator" id="socialFooter">
						<div class="fb-like" data-href="https://www.facebook.com/fundacion.memoriadelchamame" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
						<a href="https://twitter.com/Chamamemoria" class="twitter-follow-button" data-show-count="false" data-lang="es">Seguir a @Chamamemoria</a>
					</div>
					<div class="col-sm-4 hidden-xs separator white-text">
						<strong>Desarrollado por:</strong><br>
						<a href="http://nabla.com.ar" target="_blank">&nabla; Nabla Sistemas</a><br>
						En colaboraci&oacute;n con Manuel Zubieta						
					</div>
				</div>
			</div>
		</div>
		<script src="{% static 'web/js/vendor/jquery-1.11.2.min.js' %}"></script>
		<script src="{% static 'web/js/vendor/bootstrap.min.js' %}"></script>
		<script src="{% static 'web/js/main.js' %}"></script>
		{% block scriptPlus %}{% endblock scriptPlus %}
	</body>
</html>
