{% extends "web/base.html" %}
{% load staticfiles %}

{% block headPlus %}

{% endblock headPlus %}

{% block activeBen %}active{% endblock activeBen %}

{% block content %}
	<div class="row" style="padding:0px 15px;">
		
		<div class="row">
			<h1 class='brown-text text-center'><strong>Benefactores</strong></h1>
			<div class="col-xs-12 col-sm-6 text-center">	
				<a href="http://www.sadaic.org.ar/" target="_blank"><h3>SADAIC</h3></a>
			</div>
		</div>
		
		<div class="row">
			<h1 class='brown-text text-center'><strong>Colaboradores</strong></h1>
			<div class="col-xs-12 col-sm-4 text-center">
				<p>Aída Anconetani</p>
				<p>Perla Argentina Aguirre</p>
				<p>Eduardo Conejo Alegre</p>
				<p>Guilherme Almeida</p>
				<p>Griselda Arostegui</p>
				<p>Mirian Asuad</p>
				<p>Aldy Balestra</p>
				<p>Julio Barrios</p>
				<p>José Armando Bark</p>
				<p>Luis Barneche</p>
				<p>Etelvina Belaustegui</p>
				<p>Reina Bermudez</p>
				<p>Miguel Raúl López Breard</p>
				<p>Ney Borba</p>
				<p>Ruben Perez Bugallo</p>
				<p>Yayo Cáceres</p>
				<p>Juanchi Cabrera</p>
				<p>Ernesto Canga</p>
				<p>María Ángeles Castillo</p>
				<p>Polito Castillo</p>
				<p>Carlos “Mange” Casís</p>
				<p>"Corrientes Chamamé"</p>
				<p>Isabel Cocomarola</p>
				<p>Rita Sosa Cordero</p>
				<p>Gonzalo Cullen</p>
				<p>"FM Dorado"</p>
				<p>Gregorio De la Vega</p>
				<p>Roque Espíndola</p>
				<p>José Ramon Frete</p>
				<p>Luis Gauna</p>
				<p>Mburucuyá Gauna</p>
				<p>Juan Manuel Galarza</p>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<p>Raul Gimenez</p>
				<p>Roberto Gutierrez Miglio</p>
				<p>Ciprián Hernández</p>
				<p>Waly García</p>
				<p>"Misionero y Guaraní"</p>
				<p>Pedro Larroque</p>
				<p>Enrique Cámara de Landa</p>
				<p>Sammy Mielgo</p>
				<p>"Nostalgias de mi Litoral"</p>
				<p>Carlos Lezcano</p>
				<p>María Angela Lescano</p>
				<p>Martin Lubezni</p>
				<p>Yolanda Lopez</p>
				<p>Delia Lugo</p>
				<p>Carlos Ubaldo Maciel</p>
				<p>Walter Magnelli</p>
				<p>Ramón Orlando Mendoza</p>
				<p>"Mis Discos Viejos"</p>
				<p>Leonardo Moglia</p>
				<p>Francisco Mohando</p>
				<p>Tomás Ramón Moral</p>
				<p>"La Botica del Alemán"</p>
				<p>Roberto Moulin</p>
				<p>"Nostalgias de mi Litoral"</p>
				<p>"Nuestras cosas desde Goya"</p>
				<p>Simón de Jesús Palacios</p>
				<p>Eustaquio Papi Miño</p>
				<p>"Pacoweb"</p>
				<p>Emma Percara</p>
				<p>Inés Presman</p>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">		
				<p>Enrique Antonio Piñeyro</p>
				<p>Ñee Pora</p>
				<p>Alberto Tatin Raso</p>
				<p>Marta Regner</p>
				<p>Sandra Rodriguez Armesto</p>
				<p>Pocho Roch</p>
				<p>Juan Rodríguez</p>
				<p>Gabriel Romero</p>
				<p>Evaristo Fernández Rudaz (h)</p>
				<p>Antonio Tarragó Ros</p>
				<p>Marily Morales Segovia</p>
				<p>Toto Semhan</p>
				<p>Yilmar Silva</p>
				<p>Mario Suarez</p>
				<p>Gustavo Surt</p>
				<p>"Bien Tague...Bien Entrerriana"</p>
				<p>"Tarragoseando"</p>
				<p>Silvia Teijeira</p>
				<p>Jorge Toloza</p>
				<p>Lilio Juan Vallejos</p>
				<p>Pablo Daniel Velázquez</p>
				<p>Mateo Villalba</p>
				<p>Voces de la patria grande</p>
				<p>Lilio Juan Vallejos</p>
				<p>Ricardo Visconti Vallejos</p>
				<p>Jose Valsi Vargas</p>
				<p>Ana María Weckesser</p>
				<p>Fermín Ybarra</p>
				<p>Antonio Ignacio Ziegler</p>
			</div>
		</div>
	</div>
{% endblock content %}