{% extends "web/base.html" %}
{% load staticfiles %}

{% block headPlus %}

{% endblock headPlus %}

{% block activeMuseo %}active{% endblock activeMuseo %}

{% block content %}

<div class="page-header">
	<h1>Benefactores</h1>
	
		

		<div class="row">
		<div class="col-xs-12 col-sm-6">	
		<p>SADAIC</p>
		<p>Loteria Correntina</p>
		</div>

		

		<div class="col-xs-12 col-sm-6">
		<p>Dr Horacio Ricardo Colombi</p>
		<p>Dr pedro Braillard Poccard</p>
		<p>Banco de Corrientes</p>
		</div>

		</div>

		



</div>

<div class="colaboradores">
	<div class="row">
	<h1>Colaboradores</h1>

	<div class="col-xs-12 col-sm-4">
	<p>Aída Anconetani</p>
	<p>Aldy Balestra</p>
	<p>Julio Barrios</p>
	<p>Miguel Raúl López Breard</p>
	<p>Yayo Cáceres</p>
	<p>Juanchi Cabrera</p>
	<p>Ernesto Canga</p>
	<p>Polito Castillo</p>
	<p>Carlos “Mange” Casís</p>
	<p>Rita Sosa Cordero</p>
	<p>Gonzalo Cullen</p>
	<p>Roque Espíndola</p>
	</div>
	<div class="col-xs-12 col-sm-4">
	<p>Mburucuyá Gauna</p>
	<p>Ciprián Hernández</p>
	<p>Waly García</p>
	<p>Pedro  Larroque</p>
	<p>Enrique Cámara de Landa</p>
	<p>María Angela Lescano</p>
	<p>Walter Magnello</p>
	<p>Ramón Orlando Mendoza</p>
	<p>Roberto Gutiérrez Miglio</p>
	<p>Francisco Mohando</p>
	<p>Tomás Ramón Moral</p>
	<p>Roberto Moulin</p>
	</div>
	<div class="col-xs-12 col-sm-4">		
	<p>Simón de Jesús Palacios</p>
	<p>Enrique Antonio Piñeyro</p>
	<p>Juan Rodríguez</p>
	<p>Gabriel Romero</p>
	<p>Evaristo Fernández Rudaz (h)</p>
	<p>Inés Presman</p>
	<p>Lilio Juan Vallejos</p>
	<p>Pablo Daniel Velázquez</p>
	<p>Mateo Villalba</p>
	<p>Ricardo Visconti Vallejos</p>
	<p>Fermín Ybarra</p>
	</div>

	</div>


	



</div>


	
{% endblock content %}