{% extends "web/base.html" %}
{% load staticfiles %}

{% block headPlus %}

{% endblock headPlus %}

{% block activeBen %}active{% endblock activeBen %}

{% block content %}
	<div class="row" style="padding:0px 15px;">
		<h1 class='brown-text text-center'><strong>Benefactores</strong></h1>
		<div class="col-xs-12 col-sm-6 text-center">	
			<a href="http://www.sadaic.org.ar/" target="_blank"><p>SADAIC</p></a>
			<a href="http://www.loteriacorrentina.gov.ar/" target="_blank"><p>Loteria Correntina</p></a>
		</div>
		<div class="col-xs-12 col-sm-6 text-center">
			<p>Dr. Horacio Ricardo Colombi</p>
			<p>Dr. Pedro Braillard Poccard</p>
			<a href="https://www.bancodecorrientes.com.ar"><p>Banco de Corrientes</p></a>
		</div>
		<h1 class='brown-text text-center'><strong>Colaboradores</strong></h1>
		<div class="col-xs-12 col-sm-4 text-center">
			<p>Aída Anconetani</p>
			<p>Perla Argentina Aguirre</p>
			<p>Mirian Asuad</p>
			<p>Aldy Balestra</p>
			<p>Julio Barrios</p>
			<p>Luis Barneche</p>
			<p>Reina Bermudez</p>
			<p>Miguel Raúl López Breard</p>
			<p>Yayo Cáceres</p>
			<p>Juanchi Cabrera</p>
			<p>Ernesto Canga</p>
			<p>María Ángeles Castillo</p>
			<p>Polito Castillo</p>
			<p>Carlos “Mange” Casís</p>
			<p>"Corrientes Chamamé"</p>
			<p>Isabel Cocomarola</p>
			<p>Rita Sosa Cordero</p>
			<p>Gonzalo Cullen</p>
			<p>"FM Dorado"</p>
			<p>Gregorio De la Vega</p>
			<p>Roque Espíndola</p>
			<p>Mburucuyá Gauna</p>
			<p>Juan Manuel Galarza</p>
		</div>
		<div class="col-xs-12 col-sm-4 text-center">
			<p>Raul Gimenez</p>
			<p>Roberto Gutierrez Miglio</p>
			<p>Ciprián Hernández</p>
			<p>Waly García</p>
			<p>"Misionero y Guaraní"</p>
			<p>Pedro Larroque</p>
			<p>Enrique Cámara de Landa</p>
			<p>"Nostalgias de mi Litoral"</p>
			<p>Carlos Lezcano</p>
			<p>María Angela Lescano</p>
			<p>Martin Lubezni</p>
			<p>Delia Lugo</p>
			<p>Walter Magnelli</p>
			<p>Ramón Orlando Mendoza</p>
			<p>Roberto Gutiérrez Miglio</p>
			<p>Leonardo Moglia</p>
			<p>Francisco Mohando</p>
			<p>Tomás Ramón Moral</p>
			<p>Roberto Moulin</p>
			<p>Simón de Jesús Palacios</p>
			<p>Eustaquio Papimiño</p>
			<p>Emma Percara</p>
			<p>Inés Presman</p>
		</div>
		<div class="col-xs-12 col-sm-4 text-center">		
			<p>Enrique Antonio Piñeyro</p>
			<p>Alberto Tatin Raso</p>
			<p>Marta Regner</p>
			<p>Sandra Rodriguez Armesto</p>
			<p>Pocho Roch</p>
			<p>Juan Rodríguez</p>
			<p>Gabriel Romero</p>
			<p>Evaristo Fernández Rudaz (h)</p>
			<p>Antonio Tarragó Ros</p>
			<p>Marily Moralez Segovia</p>
			<p>Toto Semhan</p>
			<p>Mario Suarez</p>
			<p>Gustavo Surt</p>
			<p>"Tarragoseando"</p>
			<p>Jorge Toloza</p>
			<p>Lilio Juan Vallejos</p>
			<p>Pablo Daniel Velázquez</p>
			<p>Mateo Villalba</p>
			<p>Lilio Juan Vallejos</p>
			<p>Ricardo Visconti Vallejos</p>
			<p>Ana María Weckesser</p>
			<p>Fermín Ybarra</p>
			<p>Antonio Ignacio Ziegler</p>
		</div>
	</div>
{% endblock content %}