{% extends "web/base.html" %}
{% load staticfiles %}

{% block scriptPlus %}
	<script src="{% static 'web/js/search.js' %}"></script>
{% endblock scriptPlus %}

{% block activeArt %}active{% endblock activeArt %}

{% block content %}
	<h4 class="text-center">Biograf&iacute;as</h4>
	<div class="row">
		<ul class="list-group col-xs-4 col-xs-offset-4">
			{% for biografia in object_list %}
				<a href="{% url 'biografia' biografia.id %}" class="list-group-item text-center">{{ biografia.name }}</a>
				{% empty %}
				<p>Su b&uacute;squeda no arroj&oacute; resultados.</p>
			{% endfor %}
		</ul>
		<div class="col-xs-4">
			<div class="form group">
				<input id= "name" type="text" class="form-control" placeholder="Buscar">
			</div>
			<button id="buscar" class="btn btn-default">Buscar</button>
		</div>

	</div>
{% endblock content %}