{% extends "web/base.html" %}
{% load staticfiles %}

{% load bootstrap3 %}

{% block activeCont %}active{% endblock activeCont %}

{% block content %}
	<div class="row" style="padding:0px 15px;">
		<h1 class='brown-text text-center'><strong>Contacto</strong></h1>
		<form class="col-xs-12 col-sm-6 col-sm-offset-3" role="form" action="" method="post">
			{% csrf_token %}
			{% bootstrap_form form %}
			{# {% bootstrap_field nombre size="small"  %} #}
			<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal" >Enviar</button>



		</form>


						<div id="myModal" class="modal fade" role="dialog">
						  <div class="modal-dialog">

						    <!-- Modal content-->
						   <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal">&times;</button>
						        <h4 class="modal-title">Su correo ha sido enviado con éxito</h4>
						      </div>
						      
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						      </div>
						    </div>

						  </div>
						</div>
					
	</div>
						


{% endblock content %}