{% extends "web/base.html" %}
{% load staticfiles %}

{% block activeDisc %}active{% endblock activeDisc %}

{% block headPlus %}
	<link rel="stylesheet" href="{% static 'web/css/discoteca.css' %}">
{% endblock headPlus %}

{% block content %}
	<div class="row" style="padding:0px 15px;">
		<h1 class="brown-text text-center"><strong>{{object}}</strong></h1>
		{% for album in object.album_set.all|dictsort:'year' %}
			<div>
				{% if album.year %}
					<a data-toggle="collapse" href="#collapseExample{{album.pk}}" aria-expanded="false" aria-controls="collapseExample"><h3 class='brown-text'><strong>{{album.name}} - {{album.year}}</strong></h3></a>
				{% else %}
					<a data-toggle="collapse" href="#collapseExample{{album.pk}}" aria-expanded="false" aria-controls="collapseExample"><h3 class='brown-text'><strong>{{album.name}}</strong></h3></a>
				{% endif %}
				<div class="collapse" id="collapseExample{{album.pk}}">
					<div class="well">
						<div class="row clearfix">
							<div class="col-xs-12 col-sm-9">
								{{album.songString | safe}}
							</div>
							{% if album.tapa %}
								<div class="tapa col-xs-12 col-sm-3">
									<h5 class="brown-text"><strong>Tapa</strong></h5>
									<img src="{{album.tapa.url}}" alt="">
								</div>
							{% endif %}
							{% if album.lamina %}
								<div class="lamina col-xs-12 col-sm-3">
									<h5 class="brown-text"><strong>Lamina</strong></h5>
									<img src="{{album.lamina.url}}" alt="">
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}