{% extends "web/base.html" %}
{% load staticfiles %}

{% block activeDisc %}active{% endblock activeDisc %}

{% block headPlus %}
	<link rel="stylesheet" href="{% static 'web/css/discotecas.css' %}">
{% endblock headPlus %}

{% block scriptPlus %}
	<script src="{% static 'web/js/search.js' %}"></script>
{% endblock scriptPlus %}

{% block content %}
	<div class="row" style="padding:0px 15px;">
		<div class="row" id="discotecasTitle">
			<h1 class="brown-text col-sm-4 col-md-5 col-sm-offset-3 text-center"><strong class="hidden-md hidden-lg">Discoteca</strong></h1>
			<form class="col-sm-5 col-md-4 form-inline searchForm" data-source="discotecas">
				<div class="form-group">
					<input name="searchInput" type="text" class="form-control" placeholder="Buscar">
				</div>
				<button id="buscar" class="btn btn-primary">Buscar</button>
			</form>
		</div>
		<div class="row">
			<ul class="col-sm-12">
				{% for discoteca in object_list %}
					<a href="{% url 'discoteca' discoteca.id %}" class="brown-text text-center"><h4><strong>{{ discoteca.name }}</strong></h4></a>
					{% empty %}
					<p class="brown-text text-center">Su b&uacute;squeda no arroj&oacute; resultados.</p>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock content %}