{% extends "web/base.html" %}
{% load staticfiles %}

{% block headPlus %}
	<link rel="stylesheet" href="{% static 'web/css/efemeride.css' %}">
{% endblock headPlus %}

{% block activeEfe %}active{% endblock activeEfe %}

{% block scriptPlus %}
	<script>
		efem = JSON.parse("{{allEfemerides|escapejs}}")
	</script>
	<script src="{% static 'web/js/calendar.js' %}"></script>
{% endblock scriptPlus %}

{% block content %}
	<div class="row" style="padding:0px 15px;">
		<h1 class="text-center white-text"><strong>Un d&iacute;a como hoy</strong></h1>
		{% for efe in efemerides %}
			<h3 class="noselect white-text">{{efe.date.year}}: {{efe.event}}</h3>
			{% empty %}
			<h3 class="white-text text-center">No hay efemerides para hoy.</h3>
		{% endfor %}
	</div>

	<div class="calendar">
		<h1 class="text-center white-text hidden-xs"><strong>Efemerides</strong></h1>
		<div id="calendar" class="row"></div>
	</div>
{% endblock content %}
