{% extends "web/base.html" %}

{% block activeGal %}active{% endblock activeGal %}

{% block content %}
	<h1 class="text-center brown-text"><strong>Galeria</strong></h1>
		<div class="row">
			<ul class="col-sm-8">
				{% for galeria in object_list %}
					<a href="{% url 'galeria' galeria %}" class="brown-text text-center"><h4><strong>{{ galeria }}</strong></h4></a>
				{% empty %}
					<p class="brown-text text-center">A&uacute;n no hay galer&iacute;as cargadas.</p>
				{% endfor %}
			</ul>
		</div>
{% endblock content %}