{% extends "web/base.html" %}
{% load web_extras%}

{% block activeGal %}active{% endblock activeGal %}

{% block content %}
	<h1 class="text-center white-text"><strong>Galerias</strong></h1>
		<div class="row">
			<ul class="col-sm-6">
				<h2 class="text-center white-text"><strong>Fotos</strong></h2>
				{% for foto in object_list.images %}
					{% if foto == 'Fotos Chamameseros' %}
						<a href="{% url 'galeriasC' %}" class="white-text text-center"><h4><strong>{{ foto }}</strong></h4></a>
					{% else %}
						<a href="{% url 'galeria' foto|add:'/' %}" class="white-text text-center"><h4><strong>{{ foto }}</strong></h4></a>
					{% endif %}
				{% empty %}
					<p class="white-text text-center">A&uacute;n no hay fotos cargadas.</p>
				{% endfor %}
			</ul>
			{% if videos %}
			<ul class="col-sm-6">
				<a href="{% url 'videos' %}"><h2 class="text-center white-text"><strong>Videos</strong></h2></a>
			</ul>
			{% endif %}
		</div>
{% endblock content %}