{% extends "web/base.html" %}
{% load staticfiles %}

{% block headPlus %}
	<link rel="stylesheet" href="{% static 'web/css/photoswipe.css' %}">
	<link rel="stylesheet" href="{% static 'web/css/default-skin/default-skin.css' %}">
	<link rel="stylesheet" href="{% static 'web/css/galeria.css' %}">
{% endblock headPlus %}

{% block scriptPlus %}
	<script src="{% static 'web/js/photoswipe.min.js' %}"></script>
	<script src="{% static 'web/js/photoswipe-ui-default.min.js' %}"></script>
	<script src="{% static 'web/js/loading.js' %}"></script>
	<script src="{% static 'web/js/galeria.js' %}"></script>
	<script src="{% static 'web/js/lazy-loading.js' %}"></script>
	
{% endblock scriptPlus %}

{% block activeGal %}active{% endblock activeGal %}

{% block content %}
	{% include "web/photoswipe.html" %}
	<div class="row img" style="padding:0px 15px;">
		<h1 class="white-text text-center"><strong>Galeria de {{object.name}}</strong></h1>
		<div id="my-gallery" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
			{% for image in object.images %}
				<figure class="image col-xs-12 col-sm-3" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" >
					<a href="{{image.url}}" itemprop="contentUrl" data-size="{{image.width}}x{{image.height}}">
						<img src="{{image.url}}" alt="{{image.name}}" itemprop="thumbnail">
					</a>
					<figcaption class="white-text" itemprop="caption description"><strong>{{image.name}}</strong></figcaption>
				</figure>
			{% endfor %}
			<div id="viewMore"></div>
			<span id="nextPage" class="hidden">
			<div id="lazy">
				{% for image in object.lazyImages  %}
					<figure class="image col-xs-12 col-sm-3" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" >
						<a href="{{image.url}}" itemprop="contentUrl" data-size="{{image.width}}x{{image.height}}">
							<img class="lazy" data-src="{{image.url}}" alt="{{image.name}}" itemprop="thumbnail">
						</a>
						<figcaption class="white-text" itemprop="caption description"><strong>{{image.name}}</strong></figcaption>
					</figure>
				{% endfor %}
			</div>
		</div>
		{% if object.images %}		
			<div class="loading text-center">
				<h1 class="white-text">CARGANDO...</h1>
			</div>
		{% endif %}
	</div>
{% endblock content %}