{% extends "web/base.html" %}
{% load staticfiles %}

{% block headPlus %}
	<link rel="stylesheet" href="{% static 'web/css/index.css' %}">
{% endblock headPlus %}

{% block activeHome %}active{% endblock activeHome %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<div class="row vertical-align">
				<div class="col-xs-12 col-sm-4 text-center white-text" id="jumbBrand">
					<h1 style="margin:0px;"><strong>MUSEO</strong></h1><br>
					<h2 style="margin:0px;"><strong>VIRTUAL DEL</strong></h2><br>
					<h2 style="margin:0px;"><strong>CHAMAM&Eacute;</strong></h2><br>
				</div>
				<div class="col-xs-12 col-sm-8">
					<div class="row">
						<h2 class="white-text"><strong>¡Bienvenidos!</strong></h2>
						<h5>A este lugar donde encontrar&aacute;n la informaci&oacute;n referente a los autores, compositores, int&eacute;rpretes, escritores y poetas del chamam&eacute;.</h5>
					</div>
					<div class="row">
						<a href="{% url 'biografias' %}">
							<div class="panel panel-default col-xs-6 col-sm-4">
								<img src="{% static 'web/img/biografias.jpg' %}">
							</div>
						</a>
						<a href="{% url 'discotecas' %}">
							<div class="panel panel-default col-xs-6 col-sm-4">
								<img src="{% static 'web/img/discoteca.png' %}" alt="">
							</div>
						</a>
						<a href="{% url 'letrasC' %}">
							<div class="panel panel-default col-xs-6 col-sm-4">
								<img src="{% static 'web/img/letras.jpg' %}" alt="">
							</div>
						</a>
						<a href="{% url 'videos' %}">
							<div class="panel panel-default col-xs-6 col-sm-4">
								<img src="{% static 'web/img/videos.png' %}" alt="">
							</div>
						</a>
						<a href="{% url 'partiturasC' %}">
							<div class="panel panel-default col-xs-6 col-sm-4">
								<img src="{% static 'web/img/partituras.jpg' %}" alt="">
							</div>
						</a>
						<a href="{% url 'galerias' %}">
							<div class="panel panel-default col-xs-6 col-sm-4">
								<img src="{% static 'web/img/fotografias.png' %}" alt="">
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="info">
		<div class="hidden-xs col-sm-8">
			<h3 class="brown-text text-center"><strong>Informaci&oacute;n</strong></h3>
			<p>Se abre esta p&aacute;gina con el deseo de llevar a quienes requieran, no una pila almacenada de nombres, fechas, canciones,etc. sino, eso mismo, pero amorosamente tra&iacute;da de los lugares m&aacute;s sensibles del alma</p>
			<p>El canto del r&iacute;o, de los p&aacute;jaros, del viento y del hombre mismo, no se traduce y es por eso que as&iacute; lo guardamos, limpios y puros.</p>
			<p>La memoria del canto est&aacute; all&iacute;, en la hondura del r&iacute;o, en el cielo copiado de lagunas, en la claridad oscura de la noche, en la breve brisa, en los d&iacute;as altos de enero, pero sobre todo, en el canto del hombre que regresa de la sangre, por obra del m&aacute;gico gesto de la memoria.</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<h3 class="brown-text text-center"><strong>Presidente</strong></h3>
			<div class="panel-body" id="president">
				<img src="{% static 'web/img/topo.jpg' %}" alt="">
			</div>
			<p class="text-center"><strong>Juan Pedro Zubieta</strong></p>
		</div>
	</div>
{% endblock content %}