{% extends "web/base.html" %}
{% load staticfiles %}

{% block headPlus %}
	<link rel="stylesheet" href="{% static 'web/css/index.css' %}">
{% endblock headPlus %}

{% block activeHome %}active{% endblock activeHome %}

{% block content %}
	<div class="row" id="info">
		<div class="hidden-xs col-sm-8">
			<h3 class="white-text text-center"><strong>Informaci&oacute;n</strong></h3>
			<p class="white-text">Se abre esta p&aacute;gina con el deseo de llevar a quienes requieran, no una pila almacenada de nombres, fechas, canciones,etc. sino, eso mismo, pero amorosamente tra&iacute;da de los lugares m&aacute;s sensibles del alma</p>
			<p class="white-text">El canto del r&iacute;o, de los p&aacute;jaros, del viento y del hombre mismo, no se traduce y es por eso que as&iacute; lo guardamos, limpios y puros.</p>
			<p class="white-text">La memoria del canto est&aacute; all&iacute;, en la hondura del r&iacute;o, en el cielo copiado de lagunas, en la claridad oscura de la noche, en la breve brisa, en los d&iacute;as altos de enero, pero sobre todo, en el canto del hombre que regresa de la sangre, por obra del m&aacute;gico gesto de la memoria.</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<h3 class="white-text text-center"><strong>Presidente</strong></h3>
			<div class="panel-body" id="president">
				<img src="{% static 'web/img/topo.jpg' %}" alt="">
			</div>
			<p class="text-center white-text"><strong>Juan Pedro Zubieta</strong></p>
		</div>
	</div>
{% endblock content %}