{% extends "web/base.html" %}
{% load staticfiles %}

{% block headPlus %}{% endblock headPlus %}

{% block activeMuseo %}active{% endblock activeMuseo %}

{% block content %}

	<div class="page-header">
		<h1>Información</h1>

		<h3>
		Se abre esta página, con el deseo de llevar a quienes requieran, no una pila almacenada de nombres, fechas, canciones, etc., sino, eso mismo, pero amorosamente traída de los lugares más sensibles del alma.
		</h3>

		<h4>

		El canto del río, de los pájaros, del viento y del hombre mismo, no se traduce, y es por eso que así lo guardamos, limpios y puros.

		La memoria del canto está allí, en la hondura del río, en el cielo copiado de lagunas, en  la claridad oscura de la noche, en la breve brisa, en los días altos de enero; pero sobre todo, en el canto del hombre que regresa de la sangre, por obra del mágico gesto… de la memoria.

		</h4>


	</div>



	
{% endblock content %}