{% extends "web/base.html" %}
{% load staticfiles %}

{% block scriptPlus %}
	<script src="{% static 'web/js/loading.js' %}"></script>
	<script src="{% static 'web/js/lazy-loading.js' %}"></script>
{% endblock scriptPlus %}

{% block activeMat %}active{% endblock activeMat %}

{% block content %}
	{% include "web/photoswipe.html" %}
	<div class="row img" style="padding:0px 15px;">
		<h1 class="brown-text text-center"><strong>Letras</strong></h1>
		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group"  role="group">
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'A/' %}">A</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'B/' %}">B</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'C/' %}">C</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'D/' %}">D</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'E/' %}">E</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'F/' %}">F</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'G/' %}">G</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'H/' %}">H</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'I/' %}">I</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'J/' %}">J</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'K/' %}">K</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'L/' %}">L</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'M/' %}">M</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'N/' %}">N</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'Ñ/' %}">&Ntilde;</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'O/' %}">O</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'P/' %}">P</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'Q/' %}">Q</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'R/' %}">R</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'S/' %}">S</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'T/' %}">T</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'U/' %}">U</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'V/' %}">V</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'W/' %}">W</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'X/' %}">X</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'Y/' %}">Y</a>
				<a type="button" class="btn btn-primary" href="{% url 'letrasC' 'Z/' %}">Z</a>
			</div>
		</div>
		<div id="my-gallery" class="my-gallery" style="margin-top:20px;">
			{% for lyric in object.lyrics %}
				<a download="{{lyric.name}}" href="{{lyric.url}}">
					<h4>{{lyric.name}}</h4>
				</a>
				{% empty %}
					{% if request.path|length > 28 %}
						<h2 class="brown-text text-center">No poseemos letras de canciones que empiecen con esta inicial.</h2>
					{% else %}
						<h2 class="brown-text text-center">Presione en cualquier letra para ver letras de canciones cuyos nombres empiecen con esa inicial. </h2>
					{% endif %}
			{% endfor %}
			<div id="viewMore"></div>
			<span id="nextPage" class="hidden">
			<div id="lazy">
				{% for image in object.lazyImages  %}
					<figure class="image col-xs-12 col-sm-3" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" >
						<a href="{{image.url}}" itemprop="contentUrl" data-size="{{image.width}}x{{image.height}}">
							<img class="lazy" data-src="{{image.url}}" alt="{{image.name}}" itemprop="thumbnail">
						</a>
						<figcaption itemprop="brown-text caption description"><strong>{{image.name}}</strong></figcaption>
					</figure>
				{% endfor %}
			</div>
		</div>
		{% if object.images %}		
			<div class="loading text-center">
				<h1 class="white-text">CARGANDO...</h1>
			</div>
		{% endif %}
	</div>
{% endblock content %}