{% extends "web/base.html" %}
{% load staticfiles %}

{% block activeMat %}active{% endblock activeMat %}

{% block content %}



<div class="row">
<h1 class="text-center brown-text"><strong>Material</strong></h1>
<div class="col-sm-6">
	<a class="brown-text text-center" href="{% url 'partiturasC' %}" style="font-size:35px;">Partituras</a>
</div>


<div class="col-sm-6  text-center">
	<a class="brown-text" href="{% url 'letrasC' %}" style="font-size:35px;">Letras</a>
</div>

</div>

{% endblock content %}