{% extends "web/base.html" %}
{% load staticfiles %}

{% block activeMat %}active{% endblock activeMat %}

{% block content %}
	<h1 class="text-center white-text"><strong>Material</strong></h1>
	<div class="row">
		<div class="col-sm-6">
			<a href="{% url 'partiturasC' %}"><h2 class="text-center white-text"><strong>Partituras</strong></h2></a>

			<img style="width:100%;" src="{% static 'web/img/km11.webp' %}" alt=""> 
		</div>
		<div class="col-sm-6">
			<a href="{% url 'letrasC' %}"><h2 class="text-center white-text"><strong>Letras</strong></h2></a>
			<img style="width:100%;" src="{% static 'web/img/sargentocabral.webp' %}" alt="">
				
		</div>
	</div>
{% endblock content %}