{% extends "web/base.html" %}
{% load staticfiles %}

{% block headPlus %}
<link rel="stylesheet" href="{% static 'web/css/miembros.css' %}">
{% endblock headPlus %}

{% block activeBen %}active{% endblock activeBen %}

{% block content %}
	<div class="row" style="padding:0px 15px;">
		
		
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
					<h1 class="brown-text text-center" style="text-decoration: 	underline;">Miembros Correspondientes</h1>
				<p>Capital Federal ANTONIO RODRIGUEZ VILLAR</p>
				<p>Capital Federal RITA SOSA CORDERO</p>
				<p>Capital Federal GABINO CHAVEZ</p>
				<p>Capital Federal EVARISTO FERNANDEZ RUDAZ (h)</p>
				<p>Capital Federal JULIO CESAR "CACHO" FERREYRA</p>
				<p>Ushuaia RAMON TOMAS MORAL</p>
				<p>La Plata (Buenos Aires) ANTONIO TARRAGO ROS</p>
				<p>Bell Ville (Córdoba) MATEO VILLALBA</p>
				<p>La Matanza (Buenos Aires) SANTIAGO DELGADO</p>
				<p>Ituzaingó (Buenos Aires) SELVETTY ROMERO</p>
				<p>Merlo (Buenos Aires) MARTIN LUBEZNI</p>
				<p>Morón (Buenos Aires) MARIA ANGELES CASTILLO</p>
				<p>Mar del Plata (Buenos Aires) JOSE EDUARDO ORIA</p>
				<p>Rosario (Santa Fé) MARIA ANGELA LESCANO</p>
				<p>Rosario (Santa Fé) NELIDA ARGENTINA ZENON</p>
				<p>Reconquista (Santa Fé) FRANCISCO MOHANDO</p>
				<p>Villa Ocampo (Santa Fé) RICARDO VAN DER WELDE</p>
				<p>Santa Fé (Santa Fé) JAVIER COLLI</p>
				<p>Paraná (Entre Ríos) MARCIA MULLER</p>
				<p>Oro Verde (Entre Ríos) PABLO DANIEL VELAZQUEZ</p>
				<p>Concepción del Uruguay (Entre Ríos) PEDRO LARROQUE</p>
				<p>Villaguay (Entre Ríos) MARIO SUAREZ</p>
				<p>La Paz (Entre Ríos) CARLOS CASIS</p>
				<p>Federal (Entre Ríos) LUIS ARTURO LUNA</p>
				<p>Concordia (Entre Ríos) WALY GARCIA</p>
				<p>Federación (ENTRE RIOS) JULIO CESAR CHIVEL</p>
				<p>Chajarí (Entre Ríos) GUSTAVO SURT</p>
				<p>Concepción del Uruguay (Entre Ríos) FACUNDO TORRESAN</p>
				<p>Gualeguay (Entre Ríos) JUAN MARTIN CARABALLO</p>
				<p>Colón (Entre Ríos) ARIEL ASSENBORN</p>
				<p>Posadas (Misiones) ARTEMIO NUÑEZ MENDEZ</p>
				<p>Viedma (Río Negro) LISANDRO SAMANIEGO</p>
				<p>Rada Tily (Chubut) MARTIN LERTORA</p>
				<p>Bariloche (Río Negro) REYNALDO DIAZ LANGOU</p>
				<p>El Colorado (Formosa) ALEJANDRO ARAOZ</p>
				<p>Pirané (Formosa) GUSTAVO GALEANO</p>
				<p>Resistencia (Chaco) FRANCISCO BENITEZ</p>
				<p>Curuzú Cuatiá (Corrientes) SANTIAGO PRIMO</p>
				<p>Santa Ana (Corrientes) FERNANDA TOCCALINO</p>
				<p>Bella Vista (Corrientes) LILIO JUAN VALLEJOS</p>
				<p>San Luis del Palmar (Corrientes) MARTA VIDONI</p>
				<p>San Cosme (Corrientes) MIGUEL ZARACHO</p>
				<p>Goya (Corrientes) MARIANO MACIEL</p>
				<p>Mercedes (Corrientes) ANIBAL CACHO LOPEZ</p>
				<p>Santo Tomé (Corrientes) ANTONIO BARROS PERKINS</p>
				<p>Mburucuya (Corrientes) JULIO MAC DONALD</p>
				<p>Caa Cati (Corrientes) MATIAS GENEYRO</p>
				<p>Esquina (Corrienes) JAVIER HERRERA SAN MARTIN</p>
				<p>San Roque (Corrientes) CESAR FRETTE</p>
				<p>Empedrado (Corrientes) MATIAS SCHOJ</p>
				<p>Colonia Carlos Pellegrini (Corrientes) JOSE RAMON FRETE</p>
				<p>Gobernador Virasoro (Corrientes) JUAN RODRIGUEZ</p>
				<p>Camboriú (SC Brasil) JOSE VALSI VARGAS</p>
				<p>Uruguaiana (Brasil) RENATO FAGUNDEZ</p>
				<p>Porto Alegre (RS Brasil) JONATAN DALMONTE</p>
				<p>Campo Grande (MG Brasil) JANIO FAGUNDES BORGES</p>
				<p>Asunción (Paraguay) WILLY SUCHAR</p>
				<p>Amsterdam (Holanda) NINO ZANONI</p>
				<p>Madrid (España) YAYO CACERES</p>
			</div>
		</div>
	</div>
{% endblock content %}