{% extends "web/base.html" %}

{% block activeHome %}active{% endblock activeHome %}

{% block content %}
	<div class="row" style="padding:0px 15px;">
		<h1 class="text-center brown-text"><strong>Objetivos</strong></h1>
		<h2 class="text-justify">Nuestra tarea consiste en crear un espacio de trabajo y di&aacute;logo abierto a la sociedad para rescatar, recopilar, custodiar y divulgar el g&eacute;nero musical Chamam&eacute;.
		</h2>
		<h3 class="brown-text"><strong>Trabajaremos entre otras cosas:</strong></h3>
		<h4 class="text-justify">Para adquirir obras musicales antiguas y modernas del chamam&eacute;.<br></h4>
		<h4 class="text-justify">Conservar temas musicales, utilizando m&eacute;todos tecnol&oacute;gicos de &uacute;ltima generaci&oacute;n.</h4>
		<h4 class="text-justify">Investigar sobre los or&iacute;genes del chamam&eacute;, estudiando el momento hist&oacute;rico de los autores, las circunstancias de la &eacute;poca y todo otro dato de inter&eacute;s de cada tema musical adquirido.</h4>
		<h4 class="text-justify">Comunicar, exponer o exhibir, con prop&oacute;sito de estudio, educaci&oacute;n y deleite los resultados obtenidos y las colecciones logradas.</h4>
		<h4 class="text-justify">Realizar conciertos did&aacute;cticos explicativos con colegios primarios y secundarios para que los j&oacute;venes conozcan y aprecien el chamam&eacute;.</h4>
		<h4 class="text-justify">Realizar Congresos, Festivales, Jornadas y Encuentros con el objeto de intercambiar experiencias y divulgar resultados.</h4>
	</div>	
{% endblock content %}