{% extends "web/base.html" %}
{% load staticfiles %}

{% block headPlus %}
<link rel="stylesheet" href="{% static 'web/css/objetivos.css' %}">
{% endblock headPlus %}

{% block activeMuseo %}active{% endblock activeMuseo %}

{% block content %}

<div class="page-header">
	<h1>Objetivos</h1>

	<h2>
		Nuestra tarea consiste en crear un espacio de trabajo y diálogo abierto a la sociedad para rescatar, recopilar, custodiar y divulgar el género musical Chamamé.
		

		<h3>Trabajaremos entre otras cosas: </h3>

		<h4>

		•Para adquirir Obras musicales antiguas y modernas del Chamamé.<br></br>

		•Conservar temas musicales, utilizando métodos tecnológicos de última generación.<br></br>
		•Investigar sobre los orígenes del Chamamé, estudiando el momento histórico de los autores, las circunstancias de la época y todo otro dato de interés de cada tema musical adquirido <br></br>

		•Comunicar, Exponer o Exhibir, con propósito de estudio, educación y deleite los resultados obtenidos y las colecciones logradas. <br></br>

		•Realizar Conciertos Didácticos explicativos con colegios primarios y secundarios para que los jóvenes conozcan y aprecien el Chamamé. <br></br>

		•Realizar Congresos, Festivales, Jornadas y Encuentros con el objeto de intercambiar experiencias y divulgar resultados. <br></br>
		</h4>

	</h2>
	

</div>



	
{% endblock content %}