{% extends "web/base.html" %}
{% load staticfiles %}

{% block headPlus %}
	<link rel="stylesheet" href="{% static 'web/css/photoswipe.css' %}">
	<link rel="stylesheet" href="{% static 'web/css/default-skin/default-skin.css' %}">
	<link rel="stylesheet" href="{% static 'web/css/galeria.css' %}">
{% endblock headPlus %}

{% block scriptPlus %}
	<script src="{% static 'web/js/photoswipe.min.js' %}"></script>
	<script src="{% static 'web/js/photoswipe-ui-default.min.js' %}"></script>
	<script src="{% static 'web/js/loading.js' %}"></script>
	<script src="{% static 'web/js/galeria.js' %}"></script>
	<script src="{% static 'web/js/lazy-loading.js' %}"></script>
{% endblock scriptPlus %}

{% block activeMat %}active{% endblock activeMat %}

{% block content %}
	{% include "web/photoswipe.html" %}
	<div class="row img" style="padding:0px 15px;">
		<h1 class="brown-text text-center"><strong>Partituras</strong></h1>
		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group"  role="group">
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'A/' %}">A</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'B/' %}">B</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'C/' %}">C</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'D/' %}">D</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'E/' %}">E</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'F/' %}">F</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'G/' %}">G</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'H/' %}">H</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'I/' %}">I</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'J/' %}">J</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'K/' %}">K</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'L/' %}">L</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'M/' %}">M</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'N/' %}">N</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'Ñ/' %}">&Ntilde;</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'O/' %}">O</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'P/' %}">P</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'Q/' %}">Q</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'R/' %}">R</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'S/' %}">S</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'T/' %}">T</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'U/' %}">U</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'V/' %}">V</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'W/' %}">W</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'X/' %}">X</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'Y/' %}">Y</a>
				<a type="button" class="btn btn-primary" href="{% url 'partiturasC' 'Z/' %}">Z</a>
			</div>
		</div>
		<div id="my-gallery" class="my-gallery" style="margin-top:20px;" itemscope itemtype="http://schema.org/ImageGallery">
			{% for image in object.images %}
				<figure class="image col-xs-12 col-sm-3" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" >
					<a href="{{image.url}}" itemprop="contentUrl" data-size="{{image.width}}x{{image.height}}">
						<img src="{{image.url}}" itemprop="thumbnail">
					</a>
					<figcaption itemprop="brown-text caption description"><strong>{{image.name}}</strong></figcaption>
				</figure>
				{% empty %}
					{% if request.path|length > 28 %}
						<h2 class="brown-text text-center">No poseemos partituras que empiecen con esta letra.</h2>
					{% else %}
						<h2 class="brown-text text-center">Presione en cualquier letra para ver partituras cuyos nombres empiecen con esa letra. </h2>
					{% endif %}
			{% endfor %}
			<div id="viewMore"></div>
			<span id="nextPage" class="hidden">
			<div id="lazy">
				{% for image in object.lazyImages  %}
					<figure class="image col-xs-12 col-sm-3" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" >
						<a href="{{image.url}}" itemprop="contentUrl" data-size="{{image.width}}x{{image.height}}">
							<img class="lazy" data-src="{{image.url}}" alt="{{image.name}}" itemprop="thumbnail">
						</a>
						<figcaption itemprop="brown-text caption description"><strong>{{image.name}}</strong></figcaption>
					</figure>
				{% endfor %}
			</div>
		</div>
		{% if object.images %}		
			<div class="loading text-center">
				<h1 class="white-text">CARGANDO...</h1>
			</div>
		{% endif %}
	</div>
{% endblock content %}