{% extends "web/base.html" %}
{% load staticfiles %}

{% block activeInst %}active{% endblock activeInst %}

{% block headPlus %}
<link rel="stylesheet" href="{% static 'web/css/quienes_somos.css' %}">
	
{% endblock headPlus %}
	
{% block content %}
	<div class="row" style="padding: 0px 15px;">
		<h2 class="text-center white-text"><strong>Consejo de Administración</strong></h2> 
		<div class="col-sm-4">
			<div class="thumbnail">
				<img src="{% static 'web/img/topo.jpg' %}">
				<div class="caption">
					<h2>Presidente</h2>
					<h3>Juan Pedro Zubieta</h3>	      			
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="thumbnail">
				<img src="{% static 'web/img/leo.jpg' %}">
				<div class="caption">
					<h2>Secretario</h2>
					<h3>Leo Moglia</h3>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="thumbnail">
				<img src="{% static 'web/img/aldy.jpg' %}">
				<div class="caption">
					<h2>Tesorero</h2>
					<h3>Aldy Balestra</h3>
				</div>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="thumbnail">
				<img src="{% static 'web/img/troitinio.jpg' %}">
					<div class="caption">
						<h2>Asesora Académica</h2>
						<h3>María Lucia Troitiño</h3>
					</div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="thumbnail">
				<img src="{% static 'web/img/guille.jpg' %}">
				<div class="caption">
					<h2>Redes y Comunicación</h2>
					<h3>Guillermina Zubieta</h3>
				</div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="thumbnail">
				<img src="{% static 'web/img/cacho.jpg' %}">
				<div class="caption">
					<h2>Presidente Honorario</h2>
					<h3>Cacho Gonzalez Vedoya</h3>
				</div>
			</div>
		</div>
		

	</div>
		
	{% endblock %}