{% extends "web/base.html" %}
{% load staticfiles %}

{% block headPlus %}{% endblock headPlus %}

{% block activeMuseo %}active{% endblock activeMuseo %}

{% block content %}



	<div class="page-header">
  		<h1>Quienes somos</h1>
  			<h4>
  			<p>
  				Somos una organización correntina, que desde el año 2007 trabaja intensamente en este proyecto llamado: Fundación Memoria del Chamamé.
  			</p>
  			<p>

			Esta es una organización no gubernamental sin fines de lucro, con Personería Jurídica Nº 076 otorgada por Inspección General de Personas Jurídicas de la Provincia de Corrientes el 10 de septiembre de 2008
			</p>
			
			</h4>


	</div>

	<div id="membersInfo">
		<h1>Administración de la fundación 2015-2017</h1> 

	<div class="container-fluid">

	<div class="row">
  		<div class="col-xs-4">
    		<div class="thumbnail">
    			<div class="caption">
      				<h2>Presidente:</h2>
        			<h3>Carlos Gonzalez Vedoya</h3>	      			
        		</div>
      			<img src="{% static 'web/img/cacho.jpg' %}" alt="...">
      			
    		</div>
  		</div>
  		<div class="col-xs-4">
    		<div class="thumbnail">
    			<div class="caption">
      				<h2>Tesorera:</h2>
        			<h3>Joaquina Gonzalez</h3>
        		</div>
      			<img src="{% static 'web/img/cacho.jpg' %}" alt="...">
      			
    		</div>
  		</div>
	
  		

  		
	

	
  		<div class="col-xs-4">
    		<div class="thumbnail">
      			<div class="caption">
        			<h2>Secretaria:</h2>
        			<h3>Lara Gonzalez Vedoya</h3>
      			</div>
      			<img src="{% static 'web/img/cacho.jpg' %}" alt="...">
      			
    		</div>
  		</div>
	</div>

	<h1>Administración del Museo Virtual</h1>

	<div class="row">
	<div class="col-xs-4">
    		<div class="thumbnail">
    			<div class="caption">
      				<h2>Contenidos:</h2>
        			<h3>Pedro Zubieta</h3>	      			
        		</div>
      			<img src="{% static 'web/img/cacho.jpg' %}" alt="...">
      			
    		</div>
  	</div>
  	</div>
	
  	<h3>Auditoria Externa:</h3>
  	<h4>Contadora pública Nac. MONICA ROSALIA ARNAIZ.</h4>



  </div>

</div>
	




{% endblock %}

