{% extends "web/base.html" %}
{% load staticfiles %}

{% block activeHome %}active{% endblock activeHome %}

{% block content %}
	<div class="row" style="padding: 0px 15px;">
		<h1 class="text-center brown-text"><strong>¿Quienes somos?</strong></h1>
		<h4 class="text-justify">Somos una organizaci&oacute;n correntina, que desde el año 2007 trabaja intensamente en este proyecto llamado: Fundaci&oacute;n Memoria del Chamam&eacute;. Esta es una organizaci&oacute;n no gubernamental sin fines de lucro, con personer&iacute;a jur&iacute;dica Nº 076 otorgada por Inspecci&oacute;n General de Personas Jur&iacute;dicas de la Provincia de Corrientes el 10 de septiembre de 2008.
		</h4>
		<h2 class="text-center brown-text"><strong>Administraci&oacute;n de la fundaci&oacute;n 2015-2017</strong></h2> 
		<div class="col-sm-4" >
			<div class="thumbnail">
				<img style="height:435px; width:100%;" src="{% static 'web/img/cacho_sin_nombre.jpg' %}" alt="">
				<div class="caption">
					<h3>Presidente:</h3>
					<h4>Juan Genaro Gonzalez Vedoya</h4>	      			
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="thumbnail">
				<img style="height:435px; 	;width:100%;" src="{% static 'web/img/joaquina.jpg' %}" alt="">
				<div class="caption">
					<h2>Tesorera:</h2>
					<h3>Joaquina Gonzalez</h3>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="thumbnail">
				<img style="height:435px; width:100%;" src="{% static 'web/img/lara.jpg' %}" alt="...">
				<div class="caption">
					<h2>Secretaria:</h2>
					<h3>Lara Gonzalez Vedoya</h3>
				</div>
			</div>
		</div>
		
		<h2 class="text-center brown-text"><strong>Administraci&oacute;n del Museo Virtual</strong></h2>	
		<div class="col-sm-4 col-sm-offset-4">
				<div class="thumbnail">
					<img style="width:100%;" src="{% static 'web/img/pedro.jpg' %}" alt="...">
					<div class="caption">
						<h2>Contenidos:</h2>
						<h3>Pedro Zubieta</h3>
					</div>
				</div>
		</div>
	</div>
	<div class="row">
		<h2 class="text-center brown-text"><strong>Auditoria Externa:</strong></h2> 
		<h3 class="text-center">Contadora p&uacute;blica Nac. MONICA ROSALIA ARNAIZ.</h3>
	</div>
{% endblock %}