{% extends "web/base.html" %}
{% load staticfiles %}

{% block activeRadio %}active{% endblock activeRadio %}

{% block headPlus %}
	<link rel="stylesheet" href="{% static 'web/css/radio.css' %}">
{% endblock headPlus %}

{% block scriptPlus %}
	<script src="{% static 'web/js/playlist.js' %}"></script>
	<script src="{% static 'web/js/nodownload.js' %}"></script>
	<script src="{% static 'web/js/collapsible.js' %}"></script>
{% endblock scriptPlus %}

{% block content %}
	<div class="row" style="padding:0px 15px;">
		<h1 class="white-text text-center"><strong>Contenidos Radio Chamamé</strong></h1>
		{% for content_name, tracks in contents.items %}
			<div>
                <button
                    type="button"
                    class="collapsible btn btn-primary"
                >
                {{content_name|capfirst}}
                </button>
				<div class="collapse-content" id="{{content_name}}">
					<div class="well">
						<div class="clearfix">
							<div class="tracksContainer" id="dasdas">
                                {% for track in tracks  %}
                                    <div class="track">
                                        <figcaption class="tracksCaption">{{track.name|capfirst}}</figcaption>
                                        <audio
                                            controls
                                            src="{{track.url}}">
                                                Your browser does not support the
                                                <code>audio</code> element.
                                        </audio>
                                    </div>
                                {% endfor %}
                                    
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}
