{% extends "web/base.html" %}
{% load staticfiles %}

{% block headPlus %}
	<link rel="stylesheet" href="{% static 'web/css/revistas.css' %}">
{% endblock headPlus %}

{% block scriptPlus %}
	<script src="{% static 'web/js/loading.js' %}"></script>
{% endblock scriptPlus %}

{% block activeRevistas %}active{% endblock activeRevistas %}

{% block content %}
	<div class="row img" style="padding:0px 15px;">
        <div id='mi_galeria'>
            {% for revista in revistas %}
                <div style='margin-top:15px;' class='col-md-12' id="{{revista.pk}}" itemscope itemtype="http://schema.org/ImageGallery">
                    <figure>
                        <a href='/revista/{{revista.pk}}' itemprop="contentUrl" data-size="{{revista.tapa.width}}x{{revista.tapa.height}}">
                            <img data-pk="{{revista.pk}}" src="{{revista.tapa.url}}" alt="{{revista.nombre}}" itemprop="thumbnail">
                        </a>
                        <figcaption class="white-text text-center" itemprop="caption description"><strong>{{revista.nombre}}</strong></figcaption>
                    </figure>
                </div>
            {% endfor %}
	    </div>
    </div>
{% endblock content %}